Certificates/

deleted/
External/Nuget
External/DataViz/Binaries/
External/HClient/C++/Win8.1Release/
External/HClient/C++/Win8.1Debug/
pingme*
packages/
*.nupkg
*.nuspec
*.wxs
hx-*.exe
Install-*.exe

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled FX Shaders
*.fxo

# Compiled Static libraries
*.lai
*.la
*.a

*.pdb/

#OS junk files
[Tt]humbs.db
*.DS_Store
profile

#XCode files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
*~.nib
*.swp

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.vspscc
*.vssscc
*_i.c
*_i.h
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.metaproj
*.metaproj.tmp
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.vspx
*.psess
*.metaproj
*.metaproj.tmp
.vs/
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
#DON'T IGNORE THIS packages/

#ncrunch
*ncrunch*
*crunch*.local.xml
